fastapi==0.115.5
uvicorn==0.32.0
pydantic
pydantic-settings==2.6.1
pydantic[email]
python-dotenv==1.0.1
requests==2.32.3
vapi_server_sdk==0.1.0

# database
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
alembic==1.14.1

# mail
sendgrid==6.11.0

#templating syntax
jinja2==3.1.5

# async requests
httpx==0.28.1